#                     ___           __  ___
#  _______ ________  / (_)__  ___ _(())/ (_)__  ___ _
# / __/ _ `/ __/ _ \/ / / _ \/ -_) _ `/ / / _ \/ _ `/
# \__/\_,_/_/  \___/_/_/_//_/\__/\_,_/_/_/_//_/\_, /
#         https://gitlab.com/carolinealing    /___/
#
# /etc/ansible/ansible.cfg
#

[defaults]
ansible_managed = Modified: %Y-%m-%d %H:%M%n  Target: {{{{ template_destpath | replace('/home/' + data.user, '~') }}}}
interpreter_python = auto_silent
log_path = {{ log_file }}

[inventory]
host_pattern_mismatch = ignore
