#                     ___           __  ___
#  _______ ________  / (_)__  ___ _(())/ (_)__  ___ _
# / __/ _ `/ __/ _ \/ / / _ \/ -_) _ `/ / / _ \/ _ `/
# \__/\_,_/_/  \___/_/_/_//_/\__/\_,_/_/_/_//_/\_, /
#         https://gitlab.com/carolinealing    /___/
#
# /etc/systemd/system/ansible.service
#

[Service]
ExecStart=/usr/bin/ansible-pull -U {{ repository }} -d {{ directory }}
Type=oneshot

[Unit]
Description=Ansible Pull
