#                     ___           __  ___
#  _______ ________  / (_)__  ___ _(())/ (_)__  ___ _
# / __/ _ `/ __/ _ \/ / / _ \/ -_) _ `/ / / _ \/ _ `/
# \__/\_,_/_/  \___/_/_/_//_/\__/\_,_/_/_/_//_/\_, /
#         https://gitlab.com/carolinealing    /___/
#
# /etc/systemd/system/ansible.timer
#

[Install]
WantedBy=timers.target

[Timer]
OnCalendar={{ schedule }}

[Unit]
After=network-online.target
Description=Ansible Pull
Requires=network-online.target
